.page-controller {
    margin-top: 13px;
    background-color: aquamarine;
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 41px;
    margin-right: 25px;
    gap: 375px;
}